*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Custom Properties--change to suit own project*/
:root {
    --ff-primary:'Source Sans Pro', sans-serif;
    --ff-secondary:'Source Code Pro', monospace;

    --fw-regular: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ababab;
    --clr-accent-light: #c3c1c1;
  
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.1rem;
    --fs-body: 0.65rem;
    --fs-leftnav: 0.85rem;
    --fs-footer: 0.5rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
    
}

/* General Styles */
body {
    background: rgb(0,0,0);
    color: var(--clr-light);
    padding:0px 50px 0px 240px;
    margin:0px;
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    background-image: linear-gradient(to bottom, #280e5b 0%,#000000 37%,#000000 37%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    letter-spacing:0.01em;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color:white;
}

i,
div,
li {
    transition: color 150ms;
}

.container {
    display:flex;
    flex-direction:row;
    top:10px;
    right:0px;
    left:250px;
    position:absolute;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
/* Track */
::-webkit-scrollbar-track {
    display: none;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--clr-accent-light);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--clr-accent);
  }



/* Left Nav */

.leftNav {
    background-color:#000000;
    width: 215px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    padding:20px;
    padding-bottom: 10px;
    position: fixed;
    top:0px;
    left:0px;
    bottom:60px;
    font-size:var(--fs-h3);
}

/* Logo */

.logo {
    margin-bottom: 30px;
}

.nav__home-link {
    text-decoration: none;
    color: var(--clr-light);
}

.nav__home-link-flex {
    display: flex;
    flex-direction:row;
    align-items: center;
}

.fa-spotify {
    font-size: 40px;
    color: white;
    padding-right: 10px;
}

.appName {
    font-size:var(--fs-h2);
    font-weight: 500;
}

/* Main Nav Functions */

.nav__function-link {
    margin-bottom: 20px;
}

.nav__function-links {
    text-decoration: none;
    color: var(--clr-accent-light);
}

.nav__function-link-flex {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nav__function-link-flex:hover > div,
.nav__function-link-flex:hover > i,
.nav__playlist-button-flex:hover > div,
.nav__playlist-button-flex:hover > i {
    color:var(--clr-light);
}

.nav__function-text {
    font-size:var(--fs-leftnav);
    font-weight:700;
}

.fa-solid {
    font-size: 22px;
    color: var(--clr-accent-light);
    padding-right: 20px;
    padding-left: 5px;
}


/* Playlist Buttons */

.nav__playlist-buttons-link {
    margin-bottom: 20px;
}

.nav__playlist-button-links {
    text-decoration: none;
    color: var(--clr-accent-light);
}

.nav__playlist-button-flex {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 18px;
}

.fa-bookmark {
    margin-left:2px;
}

span{
    display:block;
    width:100%;
    border-top: 0.1px solid rgb(56, 53, 53);
    margin-bottom: 10px;
    margin-top:5px;
 }

/* Playlist List */

.playlist__List {
    padding-right: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    color:var(--clr-accent);
}

.playlist__list {
    padding:0px;
}

.playlist__list li {
    margin-bottom: 20px;
    width:146px;
    word-wrap: normal;
    font-size:0.8em;
}

.playlist__list li:hover {
    color:var(--clr-light);
}

.playlist__list li:last-child {
    margin-bottom: 0;
}



/* Header */

.header {
    background-image: linear-gradient(to bottom, #280e5b 0%,#210b4c 37%);
    position: fixed;
    top:0px;
    right:0px;
    left:240px;
    height:40px;
    z-index: 100;
    display:flex;
    padding: 12px;
    justify-content: space-between;
}

.header__button {
    border-radius: 50%;
    height:25px;
    width:25px;
    color:var(--clr-light);
    background-color:rgb(27, 25, 25);
    border:none;
}

.header__button:hover {
    cursor: pointer;
}

.header__button-profile {
    background-image: url("images/mystic.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

/* Footer */

.footer {
    background-color: rgb(29, 29, 29);
    color: var(--clr-accent);
    justify-content: space-between;
    display: flex;
    position: fixed;
    bottom: 0px;
    left:0px;
    right:0px;
    height:90px;
    padding:8px;
    font-size:var(--fs-leftnav);
    border-top: 1px solid rgb(56, 53, 53)
}

.footer .fa-solid {
    color: var(--clr-accent);
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__item {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    min-height: 50px
}

.footer__song-display {
    margin-right: 10px;
    flex: 0 0 280px;
}

.footer__img {
    height:60px;
    padding-right: 10px;
    margin-left: 8px;
}

.footer__song-details {
    display: flex;
    flex-direction: column;
    padding-right:10px;
}

.footer__song-name {
    color:var(--clr-light);
    margin-bottom: 5px;
    font-size:var(--fs-leftnav)
}

.footer__song-artist {
    font-size:var(--fs-body)
}

.footer__song-name:hover,
.footer__song-artist:hover {
    text-decoration:underline;
}

.footer__song-name:hover,
.footer__song-artist:hover,
.footer__img
 {
    cursor: pointer;
}

.footer__item i {
    font-size:var(--fs-leftnav);
    color:var(--clr-light);
}

.footer__play-display {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    flex-shrink: 1;
}

.footer__play-buttons {
    align-items: center;
}

.footer__play-buttons i {
    font-size: 1.5em;
    margin:0px 0px 10px 0px;
    transform-origin: center;
    transition: all 150ms;
}

.footer__play-buttons i:hover {
    color:var(--clr-light);
}

.footer__play-buttons .fa-circle-pause:hover {
    transform: scale(1.1);
}

.footer__progress-bar {
    width:55%;
    padding:0px 5px;
    display: flex;
    flex:1;
    align-items: center;
    font-size:11px;
}

.footer__progress {
    flex-shrink: 1;
    flex:1;
    align-items: center;
    height:0px;
    border: 1px solid  var(--clr-accent);
    border-radius:10px;
    background-color: var(--clr-accent);
    margin: 0px 5px;
}


.footer__function-buttons{
    display: flex;
    justify-content: end;
    flex: 0 0 180px;
}

.footer__function-buttons i:hover {
    color:var(--clr-light);
}

.footer__function-buttons .fa-solid {
    font-size:15px;
}

/* Main Display */

.main {
    padding: 5px 5px 0px 3px;
    margin:15px;
    width:100%;
}

.main__top-items {
    display: grid;
    gap:10px 20px;
    margin-bottom: 30px;
    grid-template-columns: repeat(auto-fit, minmax(30%,1fr));
}


.main__top-item {
    min-width:200px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color:rgba(67, 67, 67, 0.6);
    border-radius: 3px;
    transition: background-color 250ms;
}

.main__top-item:hover {
    background-color:rgba(131, 129, 129, 0.6);
}

.main__top-image {
    height:80px;
    width:80px;
    object-fit: cover;
    border-radius: 3px;
    margin-right:15px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

.main__top-text {
    font-size: var(--fs-leftnav);
    font-weight:bold;
}

.main__objects {
    display: flex;
    justify-content: start;
    align-items: center;
}

.main__object {
    background-color:rgba(28, 28, 28, 0.75);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin:0px 25px 0px 0px;
    height:260px;
    width:180px;
    transition: background-color 250ms;
}

.main__object:hover {
    background-color:rgba(62, 62, 62, 0.65);
}

.main__object:last-child {
    margin:0px;
}

.main__object-image {
    margin: 20px 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.main_object-text {
    font-size:var(--fs-leftnav);
    font-weight:bold;
    margin:5px 20px;
}

.main_object-description {
    color: var(--clr-accent-light);
    font-size:0.7rem;
    margin:0px 20px;
    overflow:hidden;
    line-height:0.9rem;
}

.main__ending-span {
    display:block;
    width:100%;
    margin-top: 50px;
    margin-bottom: 100px;
    border-top: 0.1px solid rgb(56, 53, 53);
}

.main__object-title {
    margin-bottom: 20px;
}

.main__object-title:hover {
    text-decoration:underline;
}

/* login */

.mb-3 {
    display:flex;
    margin-bottom: 15px;
}

.mb-3 {
    margin-bottom: 30px;
}

.form {
    margin-right: 40px;
    padding: 5px;
    font-size:22px;
}

.form-control {
    width:345px;
    font-size:18px;
    padding: 5px 10px;
}

.btn-primary {
    padding: 5px 15px;
    font-family: var(--ff-primary);
}