*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Custom Properties--change to suit own project*/
:root {
    --ff-primary:'Source Sans Pro', sans-serif;
    --ff-secondary:'Source Code Pro', monospace;

    --fw-regular: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #909090;
  
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 0.65rem;
    --fs-footer: 0.5rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
    
}

/* General Styles */
body {
    background: rgb(0,0,0);
    color: var(--clr-light);
    padding:0px 50px 0px 170px;
    margin:0px;
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    height:100%;
    background-image: linear-gradient(to bottom, #280e5b 0%,#000000 37%,#000000 37%);
    background-repeat: no-repeat;
    background-attachment: fixed;

}



.container {
    display:flex;
    flex-direction:row;
    bottom:0px;
    top:0px;
    position:absolute;
}

/* Left Nav */

.leftNav {
    background-color:#000000;
    width: 160px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    padding:20px;
    padding-bottom: 10px;
    position: fixed;
    top:0px;
    left:0px;
    bottom:60px;
}

/* Logo */

.logo {
    margin-bottom: 30px;
}

.nav__home-link {
    text-decoration: none;
    color: var(--clr-light);
}

.nav__home-link-flex {
    display: flex;
    flex-direction:row;
    align-items: center;
}

.fa-spotify {
    font-size: 30px;
    color: white;
    padding-right: 10px;
}

.appName {
    font-size:var(--fs-h3);
    font-weight: 500;
}

/* Main Nav Functions */

.nav__function-link {
    margin-bottom: 20px;
}

.nav__function-links {
    text-decoration: none;
    color: var(--clr-light);
}

.nav__function-link-flex {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 10px;
}

.fa-solid {
    font-size: 15px;
    color: var(--clr-light);
    padding-right: 10px;
}

.nav__function-text {
    font-size:var(--fs-body);
}

/* Playlist Buttons */

.nav__playlist-buttons-link {
    margin-bottom: 20px;
}

.nav__playlist-button-links {
    text-decoration: none;
    color: var(--clr-light);
}

.nav__playlist-button-flex {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 10px;
}

.fa-solid {
    font-size: 15px;
    color: white;
    padding-right: 10px;
}

.nav__function-text {
    font-size:var(--fs-body);
}

span{
    display:block;
    width:100%;
    border-top: 0.1px solid var(--clr-light);
    margin-bottom: 10px;
 }

/* Playlist List */

.playlist__List {
    padding-right: 61px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    color:var(--clr-accent);
}
.playlist__list {
    list-style-type: none;
    font-size:var(--fs-body);
    padding:0px;
}

.playlist__list li {
    margin-bottom: 10px;
    width:66px;
    word-wrap: normal;
}

.playlist__list li:last-child {
    margin-bottom: 0;
}

/* hello again */


/* Main Display */

.main {
    flex: 1;
    padding: 5px 5px 0px 5px;
}

/* Footer */

.footer {
    background-color: rgb(29, 29, 29);
    color: var(--clr-accent);
    justify-content: space-between;
    display: flex;
    position: fixed;
    bottom: 0px;
    left:0px;
    right:0px;
    height:60px;
    padding:8px;
    font-size:var(--fs-footer);
}

.footer .fa-solid {
    color: var(--clr-accent);
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__item {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    min-height: 50px
}

.footer__song-display {
    margin-right: 10px;
}

.footer__song-details {
    display: flex;
    flex-direction: column;
    padding-right:10px;
}

.footer__song-name {
    color:var(--clr-light);
    margin-bottom: 5px;
    font-size:0.6rem;
}

.footer__song-artist {
    font-size:0.45rem
}

.footer__img {
    height:40px;
    padding-right: 6px;
}

.footer_heart .fa-solid {
    font-size:0.7rem;
    color:var(--clr-light);
}


.footer__function-buttons{
    display: flex;
    justify-content: end;
}

.footer__function-buttons .fa-solid {
    font-size:var(--fs-body);
}

.footer__play-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}

.footer__play-buttons i {
    font-size: 0.8rem;
    margin:0px 5px 10px 0px;
}

.footer__progress-bar {
    display: flex;
    width: 100%;
    width:300px;
    align-items: center;
}

.footer__timer {
    padding-left: 5px;
}

.footer__progress {
    width: 240px;
    height:0px;
    border: 1px solid  var(--clr-accent);
    border-radius:10px;
    background-color: var(--clr-accent);
    margin: 0px 5px;
}

@media (min-width:800px) {
    .footer__progress-bar {
        width:500px;
    }
    
    .footer__progress {
        width: 400px;
    }
}